body {
  font-size: 18px;
  font-family: Helvetica;
  max-width: 960px;
}

header {
  display: flex;
  background-color: black;
  height: 2.82rem;
}

header > h3 {
  font-size: 1rem;
  padding: 0.95rem 0 0.66rem 0.5rem;
  color: white;
}

header > img  {
  height: 1.5rem;
  margin: 0.66rem 0.5rem;
}

#banner {
  background-image: url("../main-banner.jpeg");
  height: 15rem;
  width: 100%;
  background-size: cover;
  position: static;
}

#bannerText {
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: 2rem;
  position: relative;
  top: 7rem;
  width: 100%;
}

#bannerText h4 {
  font-size: 0.77rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;

}

#bannerText h1 {
  font-size: 1rem;
  padding-top: 0.25rem;
}

#menu {
  display: flex;
  background-color: firebrick;
  justify-content: center;
  color: white;
  padding: 0.75rem 0.25rem;
  margin-bottom: 1.5rem;
}

#images {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.singleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product {
  width: 90%;
  margin-left: 1rem;
}

.largeScreen {
  display: none;
}

.mediumScreen {
  display: none;
}

#images img {
  max-width: 8rem;
}

#images h5 {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

#info {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.infoBox {
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.infoHead {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 0.3rem;
}

footer {
  height: 5rem;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 5rem;
}

@media only screen and (min-width: 1024px) {
  .largeScreen {
    display: inline-block;
  }

  .product  {
    width: 30%;
    margin-left: 0;
  }

  #menu {
    justify-content: space-between;
  }

  #smallScreen {
    display: none;
  }

  #bannerText h4 {
    font-size: 1rem;
    padding-top: 2rem;
  }

  #bannerText h1 {
    font-size: 2rem;
  }

  .mediumScreen {
    display: block;
  }

  #banner {
    height: 25rem;
  }

  #bannerText {
    top: 9rem;
    position: relative;
    padding-left: 3rem;
    width: 20rem;
  }

  #info {
    display: flex;
    justify-content: space-between;
  }

  .infoBox {
    width: 35%;
    margin-left: 0;
    margin-bottom: 0;
  }

  footer {
    text-align: left;
  }

}

@media only screen and (min-width: 470px) and (max-width: 1024px) {

  #smallScreen {
    display: inline-block;
  }

  #bannerText h4 {
    font-size: 1rem;
    padding-top: 2rem;
  }

  #bannerText h1 {
    font-size: 2rem;
  }

  .mediumScreen {
    display: block;
  }

  .product {
    width: 47%;
    margin-left: 0;
  }

  #banner {
    height: 25rem;
  }

  #bannerText {
    top: 9rem;
    position: relative;
    padding-left: 3rem;
    width: 20rem;
  }

  #info {
    display: flex;
    justify-content: space-between;
  }

  .infoBox {
    width: 35%;
    margin-left: 0;
    margin-bottom: 0;
  }

  footer {
    text-align: left;
  }

}
